force-app/main/default/flows/ZipCodeValidationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls Zippopotam API to validate a Zip Code</description>
        <name>Make_Zip_Code_Validation</name>
        <label>Make Zip Code Validation</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <actionName>ZipCodeValidation.zipCodeValidation</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Is_Success_Response</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Zip_Code_Validation_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>strCountry</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strZipCode</name>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ZipCodeValidation.zipCodeValidation</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AddPlacesInfoLbl</name>
        <label>Add Places Info</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>strResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>strCurrentPlacesInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Places_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Not_Found_Error</name>
        <label>Set Not Found Error</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotFoundError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Zip_Code_Validation_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Error</name>
        <label>Set Record Error</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was an error while creating the Zip Log record with the WS response. Please reach out to Tech Support.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Zip_Code_Validation_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetResponseData</name>
        <label>Set Response Data</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>strResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strResponseConcat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>arPlacesData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Make_Zip_Code_Validation.200.places</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Places_Data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canada_CHOICE</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mexico_CHOICE</name>
        <choiceText>Mexico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MX</stringValue>
        </value>
    </choices>
    <choices>
        <name>United_States_CHOICE</name>
        <choiceText>United States</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <constants>
        <name>intNotFoundCode</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>404.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Reads Country from Web Service response</description>
        <name>Is_Country_US</name>
        <label>Is Country US</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Create_Zip_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not US</defaultConnectorLabel>
        <rules>
            <name>Is_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Make_Zip_Code_Validation.200.country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zip_Code_Response_Data</targetReference>
            </connector>
            <label>Is US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success_Response</name>
        <label>Is Success Response</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Zip_Code_Validation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Response</defaultConnectorLabel>
        <rules>
            <name>Success_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Make_Zip_Code_Validation.responseCode</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>300.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetResponseData</targetReference>
            </connector>
            <label>Success Response</label>
        </rules>
        <rules>
            <name>Zip_Code_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Make_Zip_Code_Validation.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>intNotFoundCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Not_Found_Error</targetReference>
            </connector>
            <label>Zip Code Not Found</label>
        </rules>
    </decisions>
    <description>Displays a Zip Code and Country inputs and makes a web service call to Zippopotam API to validate the Zip Code. If US zip code, it presents user with validation service response, if not US, it will create a ZIP Code Log record entry</description>
    <environments>Default</environments>
    <formulas>
        <description>Message for when an invalid zip code is provided</description>
        <name>NotFoundError</name>
        <dataType>String</dataType>
        <expression>&quot;The provided zip code &quot; +  {!Zip_Code} + &quot; has not been found for the selected Country ( &quot; + {!Country} + &quot; )&quot;</expression>
    </formulas>
    <formulas>
        <name>strCurrentPlacesInfo</name>
        <dataType>String</dataType>
        <expression>&apos; { Latitude: &apos; + {!Loop_Places_Data.latitude} + &apos;, longitude: &apos; + {!Loop_Places_Data.longitude} 
+ &apos;, placeName: &apos; + {!Loop_Places_Data.placex20name} + &apos;, state: &apos; + {!Loop_Places_Data.state}
+ &apos;, stateAbbreviation: &apos; + {!Loop_Places_Data.statex20abbreviation} + &apos;},&apos;</expression>
    </formulas>
    <formulas>
        <description>Concatenates the Zip Code validation response so it can be returned</description>
        <name>strResponseConcat</name>
        <dataType>String</dataType>
        <expression>&quot;Postal Code: &quot; + {!Make_Zip_Code_Validation.200.postx20code} + &quot;, Country:  &quot; + {!Make_Zip_Code_Validation.200.country} 
+ &quot;, Country Abbreviation: &quot; + {!Make_Zip_Code_Validation.200.countryx20abbreviation} + &quot;, Places: &quot;</expression>
    </formulas>
    <interviewLabel>ZipCodeValidationFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen: ZipCodeValidationFlow</label>
    <loops>
        <name>Loop_Places_Data</name>
        <label>Loop Places Data</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>arPlacesData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddPlacesInfoLbl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Country_US</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Zip_Log</name>
        <label>Create Zip Log</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>ZipLogRecord_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Record_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Make_Zip_Code_Validation.200.countryx20abbreviation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>strResponse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>Make_Zip_Code_Validation.200.postx20code</elementReference>
            </value>
        </inputAssignments>
        <object>ZipCodeLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Input_Data</name>
        <label>Input Data</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Make_Zip_Code_Validation</targetReference>
        </connector>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <choiceReferences>United_States_CHOICE</choiceReferences>
            <choiceReferences>Canada_CHOICE</choiceReferences>
            <choiceReferences>Mexico_CHOICE</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>United_States_CHOICE</defaultSelectedChoiceReference>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Zip Code Validation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Zip_Code_Response_Data</name>
        <label>Zip Code Response Data</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResponseScreen</name>
            <fieldText>&lt;p&gt;Response:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!strResponse}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start Over</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Zip_Code_Validation_Error</name>
        <label>Zip Code Validation Error</label>
        <locationX>644</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorTextLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Zip Code Validation Error: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!strErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ZipLogRecord_Created</name>
        <label>Zip Log Record Created</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordCreatedText</name>
            <fieldText>&lt;p&gt;Zip Code record has been created, &lt;a href=&quot;/{!Create_Zip_Log}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;click here to open&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>arPlacesData</name>
        <apexClass>ExternalService__ZipCodeValidation_PlacesData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores an error message to present to user with descriptive info</description>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>There was an error processing the validation request, please reach out to Tech support.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Zip Code validation web service response</description>
        <name>strResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
